<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="/admin/dashboard" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/public/assets/images/logo-sm.png" alt="" height="30">
            </span>
            <span class="logo-lg">
                <img src="/public/assets/images/logo-dark.png" alt="" height="50">
            </span>
        </a>

        <a href="/admin/dashboard" class="logo logo-light">
            <span class="logo-sm">
                <img src="/public/assets/images/logo-sm.png" alt="" height="30">
            </span>
            <span class="logo-lg">
                <img src="/public/assets/images/logo-light.png" alt="" height="50">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <!-- <li class="menu-title"><%=translation.Menu%></li> -->

                <li>
                    <a href="/admin/dashboard">
                        <i class="uil-home-alt"></i><span class="badge rounded-pill bg-primary float-end">01</span>
                        <span><%=translation.Dashboard%></span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-user-circle"></i>
                        <span>Player</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/player">Player List</a></li>
                        <li><a href="/admin/player/banned">Player Banned</a></li>
                        <li><a href="/admin/player/kyc">Player KYC</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-chart"></i>
                        <span>Leader Board</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/leaderboard">Leader Board List</a></li>
                        <li><a href="/admin/playerhistory">Player History</a></li>
                        
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-wallet"></i>
                        <span>Payment</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/wallet">wallet</a></li>
                         <li><a href="/admin/transaction">history</a></li>
                          <li><a href="/admin/payout">payout</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-megaphone"></i>
                        <span>Ads</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/banner">Banner</a></li>
                        <li><a href="/admin/notification">Notification</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx uil-streering"></i>
                        <span>Controls</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/bot">Bot</a></li>
                        <li><a href="/admin/version">Version</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-comments-alt"></i>
                        <span>Support</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/chat">chat</a></li>
                        <li><a href="/admin/ticket">Ticket</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-users-alt"></i>
                        <span>Staff</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/manager">Managers</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-chart"></i>
                        <span>Reports</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/report/player">palyer</a></li>
                        <li><a href="/admin/report/payment">payment</a></li>
                        
                    </ul>
                </li>
                <li class="menu-title">Setting</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-cog"></i>
                        <span>Admin Setting</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/setting/sitename">Setting</a></li>
                        <!-- <li><a href="/admin/setting/logo">Logo</a></li>
                        <li><a href="/admin/setting/support-mail">Support Mail</a></li>
                        <li><a href="/admin/setting/firebase-setting">Firebase</a></li>
                         <li><a href="/admin/setting/2step-auth-setting">2step Authentication</a></li> -->
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-cog"></i>
                        <span>Pyment Gateway</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/setting/cashfree-setting">cashree</a></li>
                         <li><a href="/admin/setting/razorpay-setting">Razor Pay</a></li>
                          <li><a href="/admin/setting/payu-setting">Pay U money</a></li>
                        
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-cog"></i>
                        <span>Sms Gateway</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/setting/message-setting">Message</a></li>
                        <li><a href="/admin/setting/localtext-setting">Localtext</a></li>
                        
                    </ul>
                </li> 
                
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-chart"></i>
                        <span>Pages</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/admin/page">Page List</a></li>
                        <!-- <li><a href="/admin/page/terms">Terms</a></li>
                        <li><a href="/admin/page/policy">Policy</a></li> -->
                        
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->